
@import '../../../assets/scss/settings';

.export-panel {
  width: 500px;

  h2{
    color: map_get($mat-blue, 500);
    font-size: 20px;
    margin-bottom: 20px;
  }

  h2 mat-icon{
    position: relative;
    top: 5px;
    color: white;
    border-radius: 100%;
    padding: 5px;
    height: 36px;
    width: 36px;
    text-align: center;
    margin-right: 10px;
    background-color: map_get($mat-blue, 500);
  }

  h6, h5 {
    color: $primary !important;
    padding: 5px 20px;
    font-size: 16px;
  }

  h5{
    margin-top: 0;
    padding-top: 0;
  }

  h6 i {
    position: relative;
    top: 5px;
    height: 21px;
    margin-right: 10px;
    font-size: 24px;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .row{
    height: 320px;
  }

  .row:before {
    box-sizing: border-box;
    content: " ";
    display: table;
  }

  .row .columns {
    float: left;
    display: block;
  }

  .row .columns.large-6 {
    width: 50%;
  }

  .row .columns.large-6 ul{
    height: 291px;
    overflow: auto;
    font-size: 13px;
  }

  .project-list li{
    height: 21px;
    cursor: pointer;
  }
  .project-list li *{
    cursor: pointer;
  }
  .project-list li:hover{
    color: $accent;
  }
  .project-list li strong{
    cursor: default;
    color: #222;
    font-size: 14px;
    display: inline-block;
    padding-top: 4px;
  }

  .export-formats{
    li {
      padding: 10px;
      cursor: pointer;
      margin-bottom: 5px;
    }
    li.selected{
      color: #f26922;
      background-color: rgb(244,244,244);
    }
    li span{
      display: inline-block;
      height: 32px;
      padding: 5px 0px 5px 40px;
      background-size: 32px;
      background-repeat: no-repeat;
    }
    li.microdocs span{
      background-image: url('../../../assets/images/microdocs.png');
    }
    li.swagger span{
      background-image: url('../../../assets/images/swagger.png');
    }
    li.api-blueprint span{
      background-image: url('../../../assets/images/api_blueprint.png');
    }
    li.postman span{
      background-image: url('../../../assets/images/postman.png');
    }
    li.docker-compose span{
      background-image: url('../../../assets/images/docker.png');
    }
  }

  .bottom-bar {
    button {
      float: right;
      background-color: $primary;
      color: white;
    }
    .text-warning {
      color: $warning;
      height: 30px;
      padding-right: 20px;
      float: left;
      position: relative;
      top: 10px;
      width: 70%;
    }
    .text-danger {
      color: $error;
      height: 30px;
      padding-right: 20px;
      float: right;
      position: relative;
      top: 10px;
    }
  }
}
