<simple-card *ngIf="schema.properties | notEmpty" text="{{schema.name}}" subTitle="{{getSubTitle(schema)}}" paper="true" [open]="false">
    <div *ngIf="schema.description | notEmpty">{{schema.description}}</div>
    <div class="link" *ngIf="schema.sourceLink | notEmpty">
        <mat-icon class="link-icon">keyboard_arrow_right</mat-icon>
        <a [href]="schema.sourceLink" target="_blank">source</a>
    </div>
    <ng-container *ngIf="example | notEmpty">
        <prettyjson [obj]="example"></prettyjson>
    </ng-container>
</simple-card>
