
sidebar-component,
.page-content,
sidebar-component .sidebar {
  -webkit-transition: max-width .3s; /* Safari */
  transition: max-width .3s;
}

sidebar-component {
  //@include grid-size(expand);

  background-color: #fcfcfc;
  border-right: 0.065rem solid $dividers-color;
  max-width: 4rem;
  width: 100%;
  @include grid-block;
  @include grid-orient(vertical);
  @include elevation(4);
  min-height: 100vh;

  .change-width {
    text-align: right;
    padding: .25rem 1.6rem .25rem 0;
    border-bottom: 0.065rem solid $dividers-color;
    background-color: $gray-light;

    span.icon {
      font-size: 2rem;
    }
  }

  .action-sheet-container {
    width: 100%;
    margin-top: 6rem;
  }

  a.logo {
    background: $white url("../images/microdocs.png") no-repeat 1rem center;
    background-size: auto 2.4rem;
    background-position: 20px center;
    height: 4rem;
  }

  vertical-menu {
    .name {
      display: none;
    }
  }

  @include breakpoint(medium) {
    &.big {
      max-width: $sidebar-max-width;
      min-width: $sidebar-min-width;
      .sidebar {
        max-width: $sidebar-max-width;
        min-width: $sidebar-min-width;
      }

      a.logo {
        //background-position: center center;
      }
      vertical-menu {
        .name {
          display: initial;
        }
      }
    }
  }

  .block-list {
    width: 100%;
    margin: 0;
    li a {
      padding: 0.8rem;
    }
  }
  .sub-header {
    font-size: $h4-font-size;
    padding: 1rem;
  }

  .sidebar {
    position: fixed;
    max-width: 4rem;
    width: 100%;
    height: 100%;
  }

  .grid-block{
    height: 100%;
  }
}