
@import '../../../assets/scss/settings';

.mime{
  color: $primary
}

.tab{
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 10px 20px;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}
