/.idea
/example/order-service/.gradle
/example/order-service/build
/example/customer-service/.gradle
/example/customer-service/build
/frontend/app/projects
/example/customer-service/.nb-gradle/
/microdocs-server/node_modules
/microdocs-server/.tscache
/microdocs-server/typings
/microdocs-server/.baseDir.js
/microdocs-crawler-doclet/build
/microdocs-crawler-doclet/.gradle
/microdocs-crawler-doclet/.nb-gradle
/microdocs-crawler-gradle/build
/microdocs-crawler-gradle/.gradle
/microdocs-server/src/**/*.js
/microdocs-server/src/**/*.map
/microdocs-server/data/reports
/microdocs-server/data/database
/microdocs-server/dist
/microdocs-server/.idea
/microdocs-server/*.iml
/microdocs-ui/node_modules
/microdocs-ui/dist
/microdocs-ui/typings
/microdocs-ui/src/**/*.js
/microdocs-ui/src/**/*.map
/microdocs-ui/.idea
/microdocs-ui/*.iml
/microdocs-core-ts/node_modules
/microdocs-core-ts/dist
/microdocs-core-ts/typings
/microdocs-core-ts/src/**/*.js
/microdocs-core-ts/src/**/*.map
/microdocs-core-ts/.idea
/microdocs-core-ts/*.iml