/.idea
/**/.idea
/**/.gradle
/**/build
/**/.nb-gradle
/**/node_modules
/**/.tscache
/**/typings
/**/dist
/**/*.iml
/out
/microdocs-jenkins-plugin/work

/microdocs-server/data/reports
/microdocs-server/data/database
