<card [title]="title" [sectionClass]="'card-section content'" [canHide]="true" [loading]="loading">
    <h5 class="version-box" *ngIf="versions | notEmpty">
        Version:
        <select [ngModel]="version" (change)="onChangeVersion($event.target.value)">
            <option *ngFor="let v of versions" [value]="v">{{v}}</option>
        </select>
    </h5>
    <div *ngIf="project.dependencies | notEmpty">
        <h4>Dependencies</h4>
        <ul class="link">
            <li *ngFor="let dependency of project.dependencies | objectIterator">
                <span class="icon">keyboard_arrow_right</span>
                <a [routerLink]="'/projects/' + dependency.group + '/' + dependency._id" target="_blank">{{dependency._id}}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="project | notEmpty:'info.links'">
        <h4>Links</h4>
        <ul>
            <li *ngFor="let link of project.info.links" class="link">
                <span class="icon">keyboard_arrow_right</span>
                <a [href]="link.href" target="_blank">{{link.rel}}</a>
            </li>
        </ul>
    </div>
</card>
<card title="Endpoints" [sectionClass]="'card-section content'" [canHide]="true" *ngIf="project.paths | notEmpty">
    <div *ngFor="let path of project.paths | objectIterator | sortByKey:'_id'">
        <endpoint [path]="path._id" [endpoint]="endpoint" [sourceLink]="getControllerSourceLink(project.info.sourceLink, endpoint)" *ngFor="let endpoint of path | objectIterator | sortByHttpMethod:'_id'"></endpoint>
    </div>
</card>
<card title="Clients" [sectionClass]="'card-section content'" [canHide]="true" *ngIf="project.dependencies | filterByField:'type':'REST' | notEmpty">
    <div *ngFor="let client of project.dependencies | filterByField:'type':'REST' | objectIterator | sortByKey:'_id'">
        <div class="link client-header">
            <span class="icon">keyboard_arrow_right</span>
            <a [routerLink]="'/projects/' + client.group + '/' + client._id">{{client._id}}</a>
        </div>
        <div *ngFor="let path of client.paths | objectIterator | sortByHttpMethod:'_id'">
            <endpoint [path]="path._id" [endpoint]="endpoint" [sourceLink]="getControllerSourceLink(project.info.sourceLink, endpoint)" *ngFor="let endpoint of path | objectIterator"></endpoint>
        </div>
    </div>
</card>
<card title="Models" [sectionClass]="'card-section content'" [canHide]="true" *ngIf="project.definitions | filterByField:'type':'object' | notEmpty">
    <model-panel [schema]="schema" [sourceLink]="getModelSourceLink(project.info.sourceLink, schema._id, schema)" *ngFor="let schema of project.definitions | objectIterator | sortByKey:'_id'"></model-panel>
</card>