<toolbar class="white">
  <toolbar-title>
    <icon-generator [text]="title"></icon-generator>
    <span class="title">{{title}}</span>
  </toolbar-title>
  <toolbar-item class="align-left">
    <select [ngModel]="version" (change)="onChangeVersion($event.target.value)">
      <option *ngFor="let v of versions" [value]="v">{{v}}</option>
    </select>
  </toolbar-item>
  <template [ngIf]="!loading && !error && !config.isStandAlone">
    <toolbar-item class="align-right delete-button" (click)="showDeleteModal = true">
      <span class="icon">delete</span>
    </toolbar-item>
    <toolbar-item class="align-right edit-button" (click)="showEditModal = true">
      <span class="icon">edit</span>
    </toolbar-item>
    <toolbar-item class="align-right export-button" (click)="showExportModal = true">
      <span class="icon">file_download</span>
    </toolbar-item>
    <toolbar-item class="align-right deprecate-button" [class.selected]="project.deprecated === true" (click)="toggleDeprecated()">
      <span class="icon">broken_image</span>
    </toolbar-item>
  </template>
</toolbar>
<div class="project-content" [class.loading]="loading">
  <div class="grid-container page-content">
    <template [ngIf]="!error">
      <card [sectionClass]="'card-section content'" title="Info" [canFullscreen]="false">
        <template [ngIf]="project.problemCount | notEmpty">
          <div class="problem-box">
            <span class="icon">error</span>
            <span class="problem">This project contains {{project.problemCount}} problem{{project.problemCount > 1 ? 's' : ''}}</span>
          </div>
        </template>
        <template [ngIf]="project.deprecated === true">
          <div class="problem-box">
            <span class="icon">error</span>
            <span class="problem">This project is marked as Deprecated</span>
          </div>
        </template>
        <div *ngIf="project | notEmpty:'info.description'" class="project-desc">{{project.info.description}}</div>
        <div *ngIf="project | notEmpty:'info.publishTime'" class="project-time">Published on {{project.info.publishTime | date:'hh:mm dd-MM-yyyy'}}</div>
        <div *ngIf="project | notEmpty:'info.updateTime'" class="project-time">Updated on {{project.info.updateTime | date:'hh:mm dd-MM-yyyy'}}</div>
        <div *ngIf="project | notEmpty:'info.links'" class="project-links">
          <ul>
            <li *ngFor="let link of project.info.links">
                <span class="link">
                    <span class="icon">keyboard_arrow_right</span>
                    <a [href]="link.href" target="_blank">{{link.rel}}</a>
                </span>
            </li>
          </ul>
        </div>
        <dependency-graph class="small" [nodes]="nodes" [env]="env" [projectName]="title" [showOptionBar]="false" [showVersions]="true" [showInheritance]="true"></dependency-graph>
      </card>
      <card title="Endpoints" [sectionClass]="'card-section content'" [canFullscreen]="false"
            *ngIf="project.paths | notEmpty">
        <div *ngFor="let path of project.paths | objectIterator | sortByKey:'_id'">
          <endpoint-group [endpointGroup]="path"></endpoint-group>
        </div>
      </card>
      <card title="Clients" [sectionClass]="'card-section content'" [canFullscreen]="false"
            *ngIf="project.dependencies | filterByField:'type':rest | notEmpty">
        <div *ngFor="let client of project.dependencies | filterByField:'type':rest | objectIterator | sortByKey:'_id'">
          <div class="client-header">
          <span class="link">
            <span class="icon">keyboard_arrow_right</span>
            <a [routerLink]="getDependencyLink(client)">{{client._id}}</a>
          </span>
            <div class="client-problem" *ngIf="client.version !== client.latestVersion">
              <span class="icon red">error</span>
              <span class="client-problem-desc" *ngIf="client.version | empty">Not compatible</span>
              <span class="client-problem-desc" *ngIf="client.version | notEmpty">
              Latest compatible version:
              <a class="link" [routerLink]="getDependencyLink(client)" [queryParams]="{version: client.version}">{{client.version}}</a>
            </span>
            </div>
          </div>
          <template [ngIf]="client.problems | notEmpty">
            <problem-panel [problems]="client.problems"></problem-panel>
          </template>
          <div *ngFor="let path of client.paths | objectIterator | sortByKey:'_id'">
            <endpoint-group [endpointGroup]="path"></endpoint-group>
          </div>
        </div>
      </card>
      <card title="Models" [sectionClass]="'card-section content'" [canFullscreen]="false"
            *ngIf="project.definitions | filterByField:'type':'object' | notEmpty">
        <model-panel [schema]="schema"
                     *ngFor="let schema of project.definitions | objectIterator | sortByKey:'_id'"></model-panel>
      </card>
    </template>
    <template [ngIf]="error">
      <div class="error-page">
        <template [ngIf]="notFound">
          <h1><i class="icon">warning</i> {{error}}</h1>
          <h2><strong>{{title + ' '}}</strong><span *ngIf="version">version <strong>{{version + ' '}}</strong></span>doesn't
            exists</h2>
        </template>
        <template [ngIf]="!notFound">
          <h1 class="error"><i class="icon">error</i> {{error}}</h1>
        </template>
      </div>
    </template>
  </div>
</div>
<template [ngIf]="!config.isStandAlone">
  <export-panel [showModal]="showExportModal" (stateChanges)="showExportModal = $event" [project]="title" [version]="version"></export-panel>
  <edit-panel [showModal]="showEditModal" (stateChanges)="showEditModal = $event" [project]="title" [version]="version" [group]="project?.info?.group"></edit-panel>
  <delete-panel [showModal]="showDeleteModal" (stateChanges)="showDeleteModal = $event" [project]="title" [version]="version"></delete-panel>
</template>