project-route toolbar icon-generator span{
  position: absolute;
  top: 10px;
  height: 40px;
  width: 40px;
  padding: 10px;
  left: 20px;
}

project-route toolbar-title .title{
  position: absolute;
  top: 22px;
  left: 75px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

project-route toolbar-item select{
  position: absolute;
  left: 275px;
  width: auto;
}

project-route toolbar-item.align-right{
  position: absolute;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
}

project-route toolbar-item.align-right.export-button{
  right: 50px;
  color: $blue;
}

project-route toolbar-item.align-right.delete-button{
  right: 0px;
  color: $red;
}

project-route toolbar-item.align-right:hover{
  background-color: rgba(0,0,0,0.1);
}

project-route .project-content{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

project-route .page-content{
  width: auto !important;
  max-width: 106.66667rem !important;
  padding: 0px !important;
}

project-route .project-content{
  transition: 0.2s ease opacity;
  opacity: 1;
}

project-route .project-content.loading{
  opacity: 0;
}

project-route .card {
  box-shadow: none !important;
  padding: 5px 20px;
  background: none;
  margin: 0;
}

project-route .card .card-section.header{
  border: none;
}

project-route .card .float-right{
  float: none;
  position: relative;
  top: 3px;
}

project-route card .card-section.content{
  padding-top: 0px;
}

project-route dependency-graph{
  display: block;
  height: 200px;
  margin-top: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}

project-route .project-desc{
  font-size: 14px;
}

project-route .project-links ul{
  margin: 5px 0;
}

project-route model-panel card.model-card .card{
  box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px !important;
  border: none;
}

project-route .client-problem .icon{
  position: relative;
  top: 5px;
}

project-route .client-problem .client-problem-desc{
  color: $red;
}

project-route modal .card{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px !important;
}