<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <sidebar-component [projects]="projects" [selectedEnv]="selectedEnv" [envs]="envs" (envChange)="onEnvVersion($event)"></sidebar-component>
  </mat-sidenav>
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>


<!--<div class="main-container grid-block horizontal app-content">-->

  <!--<sidebar-component [projects]="projects" [selectedEnv]="selectedEnv" [envs]="envs" (envChange)="onEnvVersion($event)"></sidebar-component>-->

  <!--&lt;!&ndash;main content&ndash;&gt;-->
  <!--<div class="content" id="page-content">-->
    <!--<div>-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;<snackbar id="snackbar" class="snackbar"></snackbar>&ndash;&gt;-->
<!--</div>-->
