<md-sidenav-container>
  <md-sidenav mode="side" opened="true">
    <sidebar-component [projects]="projects" [selectedEnv]="selectedEnv" [envs]="envs" (envChange)="onEnvChange($event)"></sidebar-component>
  </md-sidenav>
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>


<!--<div class="main-container grid-block horizontal app-content">-->

  <!--<sidebar-component [projects]="projects" [selectedEnv]="selectedEnv" [envs]="envs" (envChange)="onEnvChange($event)"></sidebar-component>-->

  <!--&lt;!&ndash;main content&ndash;&gt;-->
  <!--<div class="content" id="page-content">-->
    <!--<div>-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;<snackbar id="snackbar" class="snackbar"></snackbar>&ndash;&gt;-->
<!--</div>-->
