@import "../../../assets/scss/settings";

.icon-generator span {

  display: inline-block;
  padding: 7px 5px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin-right: 5px;
  font-size: 17px !important;
}

.icon-generator.small span{
  height: 24px;
  width: 24px;
  font-size: 11px !important;
  position: relative;
  top: 5px;
  margin-left: 10px;
}

/**
** generate a list of components based on the color-palette,
**/
.icon-generator {
  @each $name, $color in $colors {
    span.#{$name} {
      background: map_get($color, 500);
    }
  }

  span.amber, span.yellow {
    color: black;
  }
}
