<div class="group-header" (click)="hidden = !hidden">
  <path-highlight class="path" [path]="endpointGroup._id"></path-highlight>
  <span class="methods" *ngIf="hidden">
    <span *ngFor="let endpoint of endpointGroup | objectIterator | sortByHttpMethod:'_id'" [class]="endpoint._id | lowercase">{{endpoint._id | uppercase}}</span>
  </span>
</div>
<div class="group-content" [class.hidden]="hidden">
  <div class="methods" *ngFor="let endpoint of endpointGroup | objectIterator | sortByHttpMethod:'_id'">
    <span [class]="endpoint._id | lowercase">{{endpoint._id | uppercase}}</span>
    <endpoint  [path]="endpointGroup._id" [endpoint]="endpoint"></endpoint>
  </div>
</div>