<div class="problem-box error" *ngFor="let problem of problems | filterByField:'level':'error'">
    <span class="icon">error</span>
    <span class="problem">{{problem.message}}</span>
</div>
<div class="problem-box warning" *ngFor="let problem of problems | filterByField:'level':'warning'">
    <span class="icon">warning</span>
    <span class="problem">{{problem.message}}</span>
</div>
<div class="problem-box notice" *ngFor="let problem of problems | filterByField:'level':'notice'">
    <span class="icon">info</span>
    <span class="problem">{{problem.message}}</span>
</div>