<div class="body-render-header">
  <h5>
    Body
    <ng-template *ngIf="mimes | notEmpty">
      (<span class="mime" *ngFor="let mime of mimes; let last = last">
                    {{mime}}
                    <ng-template *ngIf="!last">,</ng-template>
                </span>)
    </ng-template>
  </h5>
  <div class="tab-container">
    <span class="tab" (click)="selectSchema(schema)">{{schema.name||"Base"}}</span>
    <span class="tab" *ngFor="let subSchema of schema.anyOf" (click)="selectSchema(subSchema)">{{subSchema.name}}</span>
  </div>
  <ng-template *ngIf="example | notEmpty">
    <prettyjson [obj]="example"></prettyjson>
  </ng-template>
</div>
