<md-list dense>
  <span *ngFor="let route of routes">
    <ng-template [ngIf]="isLink(route)">
      <a [routerLink]="[route.path]" [queryParams]="route.pathParams">
          <ng-template [ngIf]="route.generateIcon" [ngIfElse]="routeWithouthIcon">
            <md-list-item>
              <icon-generator [small]="true" mdListIcon [text]="route.name" [color]="getColor(route)"></icon-generator>
              <h3 mdLine>{{route.name}}</h3>
              <ng-template [ngIf]="route.postIcon">
                <span [class]="route.postIconColor">
                  <md-icon>{{route.postIcon}}</md-icon>
                </span>
              </ng-template>
            </md-list-item>
          </ng-template>
          <ng-template #routeWithouthIcon>
            <md-list-item>
              <md-icon mdListIcon>{{getIcon(route)}}</md-icon>
              <h3 mdLine>{{route.name}}</h3>
            </md-list-item>
          </ng-template>
      </a>
    </ng-template>
    <ng-template [ngIf]="!isLink(route)">
      <md-list-item (click)="toggleRoute(route)">
        <md-icon mdListIcon>{{getIcon(route)}}</md-icon>
        <h3 mdLine>{{route.name}}</h3>
      </md-list-item>
      <ng-template [ngIf]="route.open">
        <sidebar-list [routes]="route.children"></sidebar-list>
      </ng-template>
    </ng-template>
  </span>
</md-list>
