<mat-toolbar>
  <span>
    <icon-generator [text]="title"></icon-generator>
    <span>{{title}}</span>
    <select class="version-box" [ngModel]="version" (change)="onChangeVersion($event.target.value)">
      <option *ngFor="let v of versions" [value]="v">{{v}}</option>
    </select>
  </span>
  <span class="example-spacer"></span>

  <ng-container *ngIf="!error && !loading">
    <ng-container *ngIf="project.info.postmanCollection | notEmpty">
      <a target="_blank" class="postman-button" href="https://app.getpostman.com/run-collection/{{project.info.postmanCollection}}">
        <img src="https://run.pstmn.io/button.svg">
      </a>
    </ng-container>
    <a href=""></a>
    <mat-icon class="deprecate-button" mdTooltip="Mark this project as deprecated" [class.selected]="project.deprecated === true" (click)="toggleDeprecated()">broken_image</mat-icon>
    <mat-icon class="export-button disabled" mdTooltip="Disabled" (click)="showExportModal()">file_download</mat-icon>
    <mat-icon class="edit-button disabled" mdTooltip="Disabled" (click)="showEditModal()">edit</mat-icon>
    <mat-icon class="delete-button disabled" mdTooltip="Disabled" (click)="showDeleteModal()">delete</mat-icon>
  </ng-container>
</mat-toolbar>
<div class="project-content" [class.loading]="loading">
  <div class="grid-container page-content">
    <ng-container *ngIf="!error">
      <simple-card text="Info">
        <div class="info-content">
          <ng-container *ngIf="project.problemCount | notEmpty">
            <div class="error">
              <mat-icon>error</mat-icon>
              <span class="problem">This project contains {{project.problemCount}} problem{{project.problemCount > 1 ? 's' : ''}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="project.deprecated === true">
            <div class="error">
              <mat-icon>error</mat-icon>
              <span class="problem">This version is marked as Deprecated</span>
            </div>
          </ng-container>
          <div *ngIf="project | notEmpty:'info.description'" class="project-desc">{{project.info.description}}</div>
          <div class="time-box">
            <div *ngIf="project | notEmpty:'info.publishTime'" class="project-time">
              Published: {{project.info.publishTime | date:'hh:mm dd-MM-yyyy'}}
            </div>
            <div *ngIf="(project | notEmpty:'info.updateTime') && timeEquals(project.info.updateTime, project.info.publishTime)" class="project-time">
              Last updated: {{project.info.updateTime | date:'hh:mm dd-MM-yyyy'}}
            </div>
          </div>
          <div *ngIf="project | notEmpty:'info.links'" class="project-links">
            <ul>
              <li *ngFor="let link of project.info.links">
                <span class="link">
                  <mat-icon class="link-icon">keyboard_arrow_right</mat-icon>
                  <a [href]="link.href" target="_blank">{{link.rel}}</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <dependency-graph [small]="true" [nodes]="nodes" [env]="env" [projectName]="title" [showOptionBar]="false" [showVersions]="false" [showInheritance]="true"></dependency-graph>
      </simple-card>
      <simple-card text="Endpoints" *ngIf="project.paths | notEmpty">
        <div *ngFor="let path of project.paths | objectIterator | sortByKey:'_id'">
          <endpoint-group [endpointGroup]="path" [schemaList]="project.definitions"></endpoint-group>
        </div>
      </simple-card>
      <simple-card text="Clients" *ngIf="project.dependencies | filterByField:'type':rest | notEmpty">
        <div *ngFor="let client of project.dependencies | filterByField:'type':rest | objectIterator | sortByKey:'_id'">
          <div class="client-header">
            <span class="link">
              <mat-icon class="link-icon">keyboard_arrow_right</mat-icon>
              <a [routerLink]="getDependencyLink(client)" [queryParams]="getLastDependencyParams(client)">{{client._id}}</a>
            </span>
            <div class="client-problem" *ngIf="client.version !== client.latestVersion">
              <mat-icon class="red">error</mat-icon>
              <span class="client-problem-desc" *ngIf="client.version | empty">Not compatible</span>
              <span class="client-problem-desc" *ngIf="client.version | notEmpty">
                Latest compatible version:
                <a class="link" [routerLink]="getDependencyLink(client)" [queryParams]="getDependencyParams(client)">{{client.version}}</a>
                </span>
            </div>
          </div>
          <ng-container *ngIf="client.problems | notEmpty">
            <problem-box [problems]="client.problems"></problem-box>
          </ng-container>
          <div *ngFor="let path of client.paths | objectIterator | sortByKey:'_id'">
            <endpoint-group [endpointGroup]="path" [schemaList]="project.definitions"></endpoint-group>
          </div>
        </div>
      </simple-card>

      <simple-card text="Dependencies" *ngIf="project.dependencies | filterByField:'type':uses | notEmpty">
        <div *ngFor="let client of project.dependencies | filterByField:'type':uses | objectIterator | sortByKey:'_id'">
          <div class="client-header">
            <span class="link">
              <mat-icon class="link-icon">keyboard_arrow_right</mat-icon>
              <a [routerLink]="getDependencyLink(client)" [queryParams]="getLastDependencyParams(client)">{{client._id}}</a>
            </span>
            <div class="client-problem" *ngIf="client.version !== client.latestVersion">
              <mat-icon class="red">error</mat-icon>
              <span class="client-problem-desc" *ngIf="client.version | empty">Not compatible</span>
              <span class="client-problem-desc" *ngIf="client.version | notEmpty">
                Latest compatible version:
                <a class="link" [routerLink]="getDependencyLink(client)" [queryParams]="getDependencyParams(client)">{{client.version}}</a>
              </span>
            </div>
          </div>
          <ng-container *ngIf="client.problems | notEmpty">
            <problem-box [problems]="client.problems"></problem-box>
          </ng-container>
        </div>
      </simple-card>
      <simple-card text="Models" *ngIf="project.definitions | filterByField:'type':'object' | notEmpty">
        <model [schema]="schema" *ngFor="let schema of project.definitions | objectIterator | sortByKey:'_id'"></model>
      </simple-card>
    </ng-container>
    <ng-container *ngIf="error">
      <div class="error-page">
        <ng-container *ngIf="notFound">
          <h1 class="warning">
            <mat-icon>warning</mat-icon>
            {{error}}
          </h1>
          <h2><strong>{{title + ' '}}</strong><span *ngIf="version">version <strong>{{version + ' '}}</strong></span>doesn't
            exists</h2>
        </ng-container>
        <ng-container *ngIf="!notFound">
          <h1 class="error">
            <mat-icon>error</mat-icon>
            {{error}}
          </h1>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<!--<ng-container *ngIf="!config.isStandAlone">-->
<!--<export-panel [showModal]="showExportModal" (stateChanges)="showExportModal = $event" [project]="title" [version]="version"></export-panel>-->
<!--<edit-panel [showModal]="showEditModal" (stateChanges)="showEditModal = $event" [project]="title" [version]="version" [group]="project?.info?.group"></edit-panel>-->
<!--<delete-panel [showModal]="showDeleteModal" (stateChanges)="showDeleteModal = $event" [project]="title" [version]="version"></delete-panel>-->
<!--</ng-container>-->
