<div class="endpoint">
  <ng-container *ngIf="endpoint.problems | notEmpty">
    <problem-box [problems]="endpoint.problems"></problem-box>
  </ng-container>
  <div class="description">
            <span *ngIf="endpoint.operationId | notEmpty">
                <a *ngIf="endpoint | notEmpty:'method.sourceLink'" class="link" [href]="endpoint.method.sourceLink" target="_blank">{{endpoint.operationId}}()</a>
                <span *ngIf="endpoint | empty:'method.sourceLink'">{{endpoint.operationId}}</span>
                <span *ngIf="endpoint.description | notEmpty"> - </span>
            </span>
    {{endpoint.description}}
  </div>
  <ng-container *ngIf="endpoint.parameters | notEmpty">
    <h4>Request</h4>
    <div class="request">
      <ng-container *ngIf="endpoint.parameters | filterByField:'in':['query','path'] | notEmpty">
        <h5>Parameters</h5>
        <ul>
          <table class="parameter-table">
            <tr *ngFor="let parameter of endpoint.parameters | filterByField:'in':['query','path']">
              <th>{{parameter.name}}</th>
              <td>{{parameter.type}}</td>
              <td><span *ngIf="parameter.default | notEmpty">{{parameter.default}}</span></td>
              <td><span *ngIf="parameter.required">(required)</span></td>
              <td class="description" *ngIf="parameter.description | notEmpty">
                {{parameter.description}}
              </td>
            </tr>
          </table>
        </ul>
      </ng-container>
      <ng-container *ngIf="endpoint.parameters | filterByField:'in':'body' | notEmpty">
        <div *ngFor="let body of endpoint.parameters | filterByField:'in':'body'">
          <body-render [schema]="body.schema" [schemaList]="schemaList" [mimes]="endpoint.consumes"></body-render>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="endpoint.responses | notEmpty">
    <h4>Response</h4>
    <div *ngFor="let response of endpoint.responses | objectIterator | filterByField:'_id':'default'">
      <ng-container *ngIf="response | notEmpty">
        <div class="description response-description">
          {{response.description}}
        </div>
      </ng-container>
    </div>
    <div *ngFor="let response of endpoint.responses | objectIterator | sortByKey:'_id'" class="response">
      <ng-container *ngIf="response | notEmpty">
        <div class="description response-description">
          <ng-container *ngIf="response._id != 'default'">
            <span class="response-status">{{response._id + ' ' + getStatusName(response._id)}}</span>
            <ng-container *ngIf="response.description | notEmpty"><span> - {{response.description}}</span></ng-container>
          </ng-container>
        </div>
        <ng-container *ngIf="response.schema | notEmpty">
          <body-render [schema]="response.schema" [schemaList]="schemaList" [mimes]="endpoint.produces"></body-render>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
