article {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px;
}

article .project-item {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

article .project-item:hover {
  color: #2196F3;
}
