<div class="graph" [class.small]="small">
  <div class="container" (window:resize)="onResize($event)"></div>

  <div class="option-bar" *ngIf="showOptionBar">
    <div class="dropdown" [class.expanded]="dropdownExpanded">
      <div class="dropdown-header" (click)="dropdownExpanded = !dropdownExpanded">
        <mat-icon>keyboard_arrow_up</mat-icon>
        <span>Groups</span>
      </div>
      <div class="overlay-wrapper">
        <div class="overlay">
          <div class="overlay-item" *ngFor="let group of groupToggles" (click)="toggleGroup(group)">
            <mat-icon>{{group.visible ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
            <span class="title">{{group.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="show-versions-button option-button" [class.selected]="showVersions" (click)="toggleShowVersions()">
      <mat-icon>{{showVersions ? 'call_split' : 'call_merge'}}</mat-icon>
      <span>Show different used versions</span>
    </div>
    <div class="show-inherit-button option-button" [class.selected]="!showInheritance" (click)="toggleShowInheritance()">
      <mat-icon>{{'device_hub' }}</mat-icon>
      <span>Combine inheritance into one node</span>
    </div>
  </div>
</div>
