<md-list>
  <span *ngFor="let route of routes">
    <template [ngIf]="isLink(route)">
      <a [routerLink]="[route.path]" [queryParams]="route.pathParams">
          <template [ngIf]="route.generateIcon">
            <md-list-item>
              <icon-generator md-list-avatar [text]="route.name" [color]="getColor(route)"></icon-generator>
              <h4 md-line>{{route.name}}</h4>
              <template [ngIf]="route.postIcon">
                <span [class]="route.postIconColor">
                  <md-icon>{{route.postIcon}}</md-icon>
                </span>
              </template>
            </md-list-item>
          </template>
          <template [ngIf]="!route.generateIcon">
            <md-list-item>
              <md-icon md-list-avatar>{{getIcon(route)}}</md-icon>
              <h4 md-line>{{route.name}}</h4>
            </md-list-item>
          </template>
      </a>
    </template>
    <template [ngIf]="!isLink(route)">
      <md-list-item (click)="toggleRoute(route)">
        <md-icon md-list-avatar>{{getIcon(route)}}</md-icon>
        <h4 md-line>{{route.name}}</h4>
      </md-list-item>
      <template [ngIf]="route.open">
        <sidebar-list [routes]="route.children"></sidebar-list>
      </template>
    </template>
  </span>
</md-list>
