<mat-list>
  <span *ngFor="let route of routes">
    <ng-template *ngIf="isLink(route)">
      <a [routerLink]="[route.path]" [queryParams]="route.pathParams">
          <ng-template *ngIf="route.generateIcon">
            <mat-list-item>
              <icon-generator [small]="true" mat-list-avatar [text]="route.name" [color]="getColor(route)"></icon-generator>
              <h4 mat-line>{{route.name}}</h4>
              <ng-template *ngIf="route.postIcon">
                <span [class]="route.postIconColor">
                  <mat-icon>{{route.postIcon}}</mat-icon>
                </span>
              </ng-template>
            </mat-list-item>
          </ng-template>
          <ng-template *ngIf="!route.generateIcon">
            <mat-list-item>
              <mat-icon mat-list-avatar>{{getIcon(route)}}</mat-icon>
              <h4 mat-line>{{route.name}}</h4>
            </mat-list-item>
          </ng-template>
      </a>
    </ng-template>
    <ng-template *ngIf="!isLink(route)">
      <mat-list-item (click)="toggleRoute(route)">
        <mat-icon mat-list-avatar>{{getIcon(route)}}</mat-icon>
        <h4 mat-line>{{route.name}}</h4>
      </mat-list-item>
      <ng-template *ngIf="route.open">
        <sidebar-list [routes]="route.children"></sidebar-list>
      </ng-template>
    </ng-template>
  </span>
</mat-list>
