<div class="problem-box error" *ngFor="let problem of problems | filterByField:'level':'error'">
    <mat-icon>error</mat-icon>
    <span class="problem">{{problem.message}}</span>
</div>
<div class="problem-box warning" *ngFor="let problem of problems | filterByField:'level':'warning'">
    <mat-icon>warning</mat-icon>
    <span class="problem">{{problem.message}}</span>
</div>
<div class="problem-box info" *ngFor="let problem of problems | filterByField:'level':'notice'">
    <mat-icon>info</mat-icon>
    <span class="problem">{{problem.message}}</span>
</div>
