<script src="../../scripts/d3.v3.min.js"></script>

<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="dependency-graph">
    <template>
        <style include="shared-styles">
            :host ::content .graph circle {
                fill: #FF9800;
                stroke: #333;
                stroke-width: 1px;
            }

            :host ::content .graph text {
                font: 10px sans-serif;
                pointer-events: none;
                text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
            }

            :host ::content .graph path {
                fill: none;
                stroke: #2A9AF3;
                stroke-width: 1.5px;
            }

            :host ::content .graph .link.dependency {
                stroke-dasharray: 0, 2 1;
                stroke: black;
            }

            :host ::content .graph svg {
                width: 100%;
                height: 100%;
            }

            :host .icon{
                padding-right: 10px;
            }

            /*#licensing {*/
            /*fill: green;*/
            /*}*/

            /*.link.licensing {*/
            /*stroke: green;*/
            /*}*/

            /*.link.resolved {*/
            /*stroke-dasharray: 0, 2 1;*/
            /*}*/
        </style>
        <div hidden$="{{!_hasError(error)}}" class="error">
            <iron-icon class="icon" icon="warning"></iron-icon>
            <span>{{error}}</span>
        </div>
        <div id="container" class="graph" style="height: 500px;"></div>
    </template>

    <script>
        Polymer({
            is: "dependency-graph",

            behaviors: [
                Polymer.IronResizableBehavior
            ],

            properties: {
                url: String,
                data: Object,
                error: {
                    type: String,
                    value: null
                }
            },

            observers: [
                '_requestData(url)',
                '_chartData(data)'
            ],

            listeners: {
                'iron-resize': '_resizeContainer'
            },

            _requestData: function (url) {
                var self = this;
                fetch(url).then(function (response) {
                    if(response.status >= 400){
                        response.json().then(function(error){
                            console.error(error.message);
                            self.error = "Failed to load dependency chart. " + error.message;
                        }).catch(function(e){
                            console.error(e);
                            self.error = "Failed to load dependency chart.";
                        });
                    }else{
                        response.json().then(function(data){
                            self._chartData(data);
                        }).catch(function(e){
                            console.error(e);
                            self.error = "Failed to load dependency chart.";
                        });
                    }
                }).catch(function (e) {
                    console.error(e);
                    self.error = "Failed to load dependency chart.";
                });
            },

            _resizeContainer: function () {
                if (this._force) {
                    this._force.size([this.$.container.getBoundingClientRect().width, this.$.container.getBoundingClientRect().height]);
                }
            },

            _hasError: function (error) {
                return error != null;
            },

            _force: undefined,

            _chartData: function (data) {
                if (data == null) {
                    //handle
                    return;
                }
                this.error = null;
                var nodes = data['nodes']
                var links = data['links'];
                links.forEach(function (link) {
                    link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
                    link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
                });

                this._force = d3.layout.force()
                    .nodes(d3.values(nodes))
                    .links(links)
                    .size([this.$.container.getBoundingClientRect().width, this.$.container.getBoundingClientRect().height])
                    .linkDistance(80)
                    .charge(-300)
                    .on("tick", tick)
                    .start();

                var svg = d3.select(this.$.container).append("svg");

                // Per-type markers, as they don't inherit styles.
                svg.append("defs").selectAll("marker")
                    .data(["client", "dependency"])
                    .enter().append("marker")
                    .attr("id", function (d) {
                        return d;
                    })
                    .attr("viewBox", "0 -5 10 10")
                    .attr("refX", 15)
                    .attr("refY", -1.5)
                    .attr("markerWidth", 6)
                    .attr("markerHeight", 6)
                    .attr("orient", "auto")
                    .append("path")
                    .attr("d", "M0,-5L10,0L0,5");

                var self = this;

                var path = svg.append("g").selectAll("path")
                    .data(self._force.links())
                    .enter().append("path")
                    .attr("class", function (d) {
                        return "link " + d.type;
                    })
                    .attr("marker-end", function (d) {
                        return "url(#" + d.type + ")";
                    });

                var circle = svg.append("g").selectAll("circle")
                    .data(self._force.nodes())
                    .enter().append("circle")
                    .attr("r", 6)
                    .call(self._force.drag);

                var text = svg.append("g").selectAll("text")
                    .data(self._force.nodes())
                    .enter().append("text")
                    .attr("x", 8)
                    .attr("y", ".31em")
                    .text(function (d) {
                        return d.name;
                    });

                function tick() {
                    path.attr("d", linkArc);
                    circle.attr("transform", transform);
                    text.attr("transform", transform);
                }

                function linkArc(d) {
                    var dx = d.target.x - d.source.x,
                        dy = d.target.y - d.source.y,
                        dr = Math.sqrt(dx * dx + dy * dy);
                    return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
                }

                function transform(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                }
            }
        });
    </script>
</dom-module>
