<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="http-param">
    <template>
        <style include="shared-styles">
            :host ::content .title {
                position: relative;
                display: inline-block;
                min-width: 150px;
                color: #2196F3;
            }

            :host ::content .title .required {
                position: absolute;
                right: 0;
                color: #AFAFAF;
            }

            :host ::content .icon {
                --iron-icon-width: 13px;
                --iron-icon-height: 13px;
            }

            :host ::content .type {
                display: inline-block;
                min-width: 45px;
                color: #4CAF50;
            }

            :host ::content .desc {
                color: #607D8B;
            }
        </style>
        <div>
      <span class="title">
        <span>{{requestParam.name}}</span>
        <span class="required" hidden$="{{!requestParam.required}}">(required)</span>
      </span>
            <iron-icon class="icon" icon="icons:arrow-forward"></iron-icon>
            <span class="type">{{requestParam.type}}</span>
            <span class="desc" hidden$="{{!showDescription}}"> - {{requestParam.description}}</span>
        </div>
    </template>
    <script>
        Polymer({
            is: 'http-param',

            properties: {
                requestParam: Object,

                showDescription: Boolean
            },

            observers: [
                '_initData(requestParam)'
            ],

          _initData: function (requestParam) {
                this.showDescription = requestParam.description != undefined && requestParam.description != null && requestParam.description != "";
            }

        });
    </script>
</dom-module>
