<dom-module is="model-element">
    <template>
        <style include="shared-styles">
            :host ::content .model-header{
                cursor: pointer;
                font-family: monospace;
            }

            :host ::content h4 {
                position: relative;
                margin: 0px;
            }

            :host ::content h4 > span{
                display: inline-block;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            :host ::content h4 .link {
                display: inline-block;
                position: absolute;
                right: 0;
            }

            :host ::content paper-material {
                padding: 10px 30px !important;
                margin-top: 0px !important;
                margin-bottom: 5px !important;
            }

            :host ::content .model-content{
                margin-top: 10px;
            }

            :host .model-name{
                display: inline-block;
                min-width: 300px;
            }

            :host .entity {
                color: #2196F3;
                font-size: 10px;
            }

            :host .table{
                color: #4CAF50;
                font-size: 10px;
                text-transform: uppercase;
            }
        </style>
        <paper-material elevation="1" id="container">
            <div class="model-header" id="header">
                <h4>
                    <span class="model-name">{{model.classType.simpleName}}</span>
                    <span hidden$="{{_null(model.tables)}}">
                        <span class="entity">Table: </span><template is="dom-repeat" items="{{model.tables}}"><span hidden$="{{_zero(index)}}">,</span><span class="table">{{item}}</span></template>
                    </span>
                    <project-link class="link" settings="{{settings}}" model="{{model}}" project="{{project}}"></project-link>
                </h4>
            </div>
            <div class="model-content" hidden$="{{!expanded}}">
                <json-preview schema="{{model}}" domain-schemas="{{project.models}}"></json-preview>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: "model-element",

            properties: {
                settings: Object,
                project: Object,
                model: Object,
                expanded: {
                    type: Boolean,
                    value: false
                }
            },

            listeners: {
                'header.click': '_toggle'
            },

            _toggle: function () {
                this.expanded = !this.expanded;
            },

            _null: function(obj){
                return obj == null;
            },

            _zero: function(obj){
                return obj == 0;
            }
        });
    </script>
</dom-module>
