<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">

<dom-module id="project-link">
    <template>
        <style include="shared-styles">
            :host ::content {
                display: block;
                font-weight: normal;
            }

            :host ::content a {
                text-decoration: none;
                color: #2196F3;
            }

            :host ::content a:hover {
                text-decoration: underline;
            }

            :host ::content .project-link {
                position: static;
            }
        </style>

        <template is="dom-if" if="{{showLink}}">
            <a href="{{href}}" target="{{target}}">
                <iron-icon hidden$="{{prefix}}" icon="image:navigate-next"></iron-icon>
                <span>{{rel}}</span>
            </a>
        </template>
        <template is="dom-if" if="{{!showLink}}">
            <iron-icon hidden$="{{prefix}}" icon="image:navigate-next"></iron-icon>
            <span>{{rel}}</span>
        </template>
        <template is="dom-if" if="{{showGeneric}}">
            &lt;<project-link class="generic-type" settings="{{settings}}" model="{{generic}}" project="{{project}}" prefix="false"></project-link>&gt;
        </template>
    </template>
    <script>
        Polymer({
            is: 'project-link',

            properties: {
                settings: Object,
                href: {
                    type: String,
                    value: undefined
                },
                target: {
                    type: String,
                    value: '_blank'
                },
                rel: String,
                prefix: Boolean,
                classpath: String,
                line: Number,
                project: Object,
                model: Object,
                generic: Object,

                showGeneric: Boolean,
                showLink: Boolean
            },

            observers: [
                '_updateClassPath(settings)',
                '_updateClassPath(classpath)',
                '_updateModel(project)',
                '_updateModel(model)',
                '_updateLink(settings)',
                '_updateLink(classpath)'
            ],

            _updateLink: function () {
                if(this.classpath == undefined || this.classpath == null){
                    this.showLink = true;
                }else if(this.settings != null && this.classpath.indexOf(this.settings.links.package) == 0) {
                    this.showLink = true;
                } else {
                    this.showLink = false;
                }
            },

            _updateModel: function () {
                if (this.model != undefined && this.model != null) {
                    if (this.model['$ref'] && this.project && this.project.models != undefined && this.project.models[this.model['$ref']]) {
                        var m = this.project.models[this.model['$ref']];
                    } else {
                        var m = this.model;
                    }
                    if (m.classType != undefined && m.classType != null) {
                        this.rel = m.classType.simpleName;
                        this.classpath = m.classType.name;
                        if (m.classType.genericType != undefined && m.classType.genericType != null) {
                            this.generic = {classType: m.classType.genericType};
                            this.showGeneric = true;
                        }
                    }
                }
            },

            _updateClassPath(){
                if (this.settings != undefined && this.classpath != undefined) {
                    var link = this.settings.links.source;
                    link = link.replace("{links.folder}", this.settings.links.folder);
                    if (this.project != undefined) {
                        link = link.replace("{group}", this.project.group);
                        link = link.replace("{project}", this.project.name);
                        link = link.replace("{version}", this.project.version);
                    }
                    link = link.replace("{class}", this.classpath.replace(new RegExp("\\.", 'g'), '/'));
                    link = link.replace("{classDots}", this.classpath);
                    if (this.line != undefined) {
                        link += "#" + this.line;
                    }
                    this.href = link;
                }
            }
        });
    </script>
</dom-module>
