<link rel="import" href="http-param.html">
<link rel="import" href="response-status.html">
<link rel="import" href="json-preview.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="project-endpoint">
    <template>
        <style include="shared-styles">


            :host ::content paper-material {
                padding: 10px 30px !important;
                margin-top: 0px !important;
                margin-bottom: 5px !important;
            }

            :host ::content .endpoint-header {
                position: relative;
                cursor: pointer;
                font-family: monospace;
            }

            :host ::content .endpoint-header::after {
                content: " ";
                position: absolute;
                top: -10px;
                left: -30px;
                bottom: -10px;
                right: -30px;
            }

            :host ::content .endpoint-content {
                font-family: monospace;
            }

            :host ::content .endpoint-method span {
                padding: 5px;
                width: 45px;
                border-radius: 5px;
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
                background-color: #9E9E9E;
                color: white;
            }

            :host ::content .endpoint-method span.GET {
                background-color: #4CAF50;
            }

            :host ::content .endpoint-method span.POST {
                background-color: #2196F3;
            }

            :host ::content .endpoint-method span.DELETE {
                background-color: #F44336;
            }

            :host ::content .endpoint-method span.PATCH {
                background-color: #616161;
            }

            :host ::content .endpoint-method span.PUT {
                background-color: #FF9800;
            }

            :host ::content .endpoint-path {
                font-weight: bold;
            }

            :host ::content .highlight {
                color: #2196F3;
            }

            :host ::content .endpoint-body {
                overflow: hidden;
            }

            :host ::content table {
                width: 100%;
            }

            :host ::content .description {
                margin-top: 10px;
                font-size: 14px;
            }

            :host ::content project-link {
                position: absolute;
                right: 0;
                display: inline-block;
                z-index: 1;
            }

            :host ::content h4 {
                position: relative;
            }

            :host ::content .endpoint-path[error], :host ::content .endpoint-path[error] * {
                color: #F44336;
            }

            :host ::content .error-icon {
                color: #F44336;
                font-size: 14px;
            }

            :host ::content .errors {
                color: #F44336;
                font-size: 14px;
            }
        </style>

        <paper-material elevation="1" id="container">
            <div class="endpoint-header" id="header">
                <span class="endpoint-method">
                  <span class$="{{endpoint.method}}">{{endpoint.method}}</span>
                </span>
                <span class="endpoint-path" id="path" error$="{{!_empty(endpoint.errors)}}">{{_markupPath(endpoint.path)}}</span>
                <iron-icon class="error-icon" icon="icons:error" hidden$="{{_empty(endpoint.errors)}}"></iron-icon>
                <project-link settings="{{settings}}" rel={{endpoint.source.simpleName}}
                              classpath="{{endpoint.source.name}}" line="{{endpoint.source.lineNumber}}"
                              project="{{project}}"></project-link>
            </div>
            <div class="endpoint-body" hidden$="{{!expanded}}">
                <div class="description">{{endpoint.description}}</div>
                <ul class="errors" hidden$="{{_empty(endpoint.errors)}}">
                    <template is="dom-repeat" items="{{endpoint.errors}}" as="error">
                        <li>{{error}}</li>
                    </template>
                </ul>
                <h3 hidden$="{{!_showRequest(endpoint)}}">Request</h3>
                <div class="endpoint-content">
                    <div hidden$="{{!_showRequestParams(endpoint)}}">
                        <h4>Parameters</h4>
                        <template is="dom-repeat" items="{{endpoint.pathVariables}}">
                            <http-param request-param="{{item}}"></http-param>
                        </template>
                        <template is="dom-repeat" items="{{endpoint.requestParams}}">
                            <http-param request-param="{{item}}"></http-param>
                        </template>
                    </div>
                    <div hidden$="{{!_showRequestBody(endpoint)}}">
                        <h4>
                            Body
                            <span hidden$="{{_empty(endpoint.consumes)}}">(<template is="dom-repeat" items="{{endpoint.consumes}}"><span hidden$="{{_zero(index)}}">,</span><span class="highlight">{{item}}</span></template>)</span>
                            <project-link settings="{{settings}}" model="{{endpoint.requestBody}}" project="{{project}}" project="{{project}}"></project-link>
                        </h4>
                        <template is="dom-if" if="{{_isObjectOrArray(endpoint.requestBody)}}">
                            <json-preview schema="[[endpoint.requestBody]]" domain-schemas="[[project.models]]"></json-preview>
                        </template>
                    </div>
                </div>

                <template is="dom-if" if="{{_showResponse(endpoint)}}">
                    <h3>Response</h3>
                    <template is="dom-repeat" items="{{endpoint.responses}}" as="response">
                        <response-status response="[[response]]"></response-status>
                    </template>
                    <div class="endpoint-content">
                        <div hidden$="{{!_showResponseBody(endpoint)}}">
                            <h4>
                                Body
                                <span hidden$="{{_empty(endpoint.produces)}}">(<template is="dom-repeat" items="{{endpoint.produces}}"><span hidden$="{{_zero(index)}}">,</span><span class="highlight">{{item}}</span></template>)</span>
                                <project-link settings="{{settings}}" model="{{endpoint.responseBody}}" project="{{project}}"></project-link>
                            </h4>
                            <template is="dom-if" if="{{_isObjectOrArray(endpoint.responseBody)}}">
                                <json-preview schema="[[endpoint.responseBody]]" domain-schemas="[[project.models]]"></json-preview>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'project-endpoint',

            properties: {
                endpoint: {
                    type: Object,
                    observer: '_initData'
                },
                expanded: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                project: Object,
                settings: Object,
            },

            listeners: {
                'header.click': '_toggle'
            },

            _toggle: function () {
                this.expanded = !this.expanded;
            },

            _initData: function (endpoint) {
                this.$.path.innerHTML = this._markupPath(endpoint.path);
            },

            _showRequest: function (endpoint) {
                var showRequest = this._showRequestBody(endpoint) || this._showRequestParams(endpoint);
                return showRequest;
            },

            _showRequestParams: function (endpoint) {
                return !this._empty(this.endpoint) && (!this._empty(this.endpoint.pathVariables) || !this._empty(this.endpoint.requestParams));
            },

            _showRequestBody: function (endpoint) {
                return !this._empty(this.endpoint) && !this._empty(this.endpoint.requestBody);
            },

            _showResponse: function (endpoint) {
                return this._showResponseBody(endpoint) || this._showResponses(endpoint);
            },

            _showResponseBody: function (endpoint) {
                return !this._empty(this.endpoint) && !this._empty(this.endpoint.responseBody);
            },

            _showResponses: function (endpoint) {
                return !this._empty(this.endpoint) && !this._empty(this.endpoint.responses);
            },

            _markupPath: function (path) {
                path = path.replace(new RegExp('{', 'g'), "<span class='highlight'>{");
                path = path.replace(new RegExp('}', 'g'), "}</span>");
                return path;
            },

            _empty: function (obj) {
                if (obj == undefined || obj == null) {
                    return true;
                }
                if (obj.length != undefined && obj.length == 0) {
                    return true;
                }
                return false;
            },

            _isObjectOrArray: function (model) {
                if(this._empty(model)){
                    return false;
                }
                var m = model;
                if(model['$ref'] != undefined && !this._empty(this.project) && this.project['models'] != undefined){
                    m = this.project['models'][model['$ref']];
                }
                return (m.type == 'object' || m.type == 'array');
            },

            _zero: function(number){
                return number == 0;
            }
        });
    </script>
</dom-module>
