<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">

<dom-module id="project-link">
    <template>
        <style include="shared-styles">
            :host ::content {
                display: block;
            }

            :host ::content a {
                text-decoration: none;
                color: #2196F3;
            }

            :host ::content a:hover {
                text-decoration: underline;
            }
        </style>

        <a href="{{href}}" target="{{target}}">
            <iron-icon hidden$="{{!prefix}}" icon="image:navigate-next"></iron-icon>
            <span>{{rel}}</span>
        </a>
    </template>
    <script>
        Polymer({
            is: 'project-link',

            properties: {
                settings: Object,
                href: {
                    type: String,
                    value: undefined
                },
                target: {
                    type: String,
                    value: '_blank'
                },
                rel: String,
                prefix: Boolean,
                classpath: String,
                line: Number,
                project: Object,
                model: Object,
                generic: Object
            },

            observers: [
                '_updateClassPath(settings)',
                '_updateClassPath(classpath)',
                '_updateModel(project)',
                '_updateModel(model)'
            ],

            _updateModel: function (model) {
                if (model) {
                    if (model['$ref'] && this.project && this.project.models[model['$ref']]) {
                        var m = this.project.models[model['$ref']];
                    } else {
                        var m = model;
                    }
                    if (m.classType) {
                        this.rel = m.classType.simpleName;
                        this.classpath = m.classType.name;
                        if (model.classType.genericType) {
                            this.generic = {classType: m.classType.genericType};
                        }
                    }
                }
                console.info("update: " + this.model + " " + this.project);
            },

            _updateClassPath(){
                if (this.settings != undefined && this.classpath != undefined) {
                    var link = this.settings.links.source;
                    link = link.replace("{links.folder}", this.settings.links.folder);
                    if (this.project != undefined) {
                        link = link.replace("{group}", this.project.group);
                        link = link.replace("{project}", this.project.name);
                        link = link.replace("{version}", this.project.version);
                    }
                    link = link.replace("{class}", this.classpath.replace(new RegExp("\\.", 'g'), '/'));
                    link = link.replace("{classDots}", this.classpath);
                    if (this.line != undefined) {
                        link += "#" + this.line;
                    }
                    this.href = link;
                }
            }
        });
    </script>
</dom-module>
