<div class="import-dialog">
  <h2>
    <mat-icon>add</mat-icon>
    Add Project
  </h2>
  <div class="row">
    <mat-form-field class="example-full-width">
      <textarea rows="5" mat-input placeholder="Paste here your definitions" (keyup)="onProjectInserted($event)" [value]="projectDefinition"></textarea>
    </mat-form-field>
    <div class="text-danger text-right">{{jsonError}}</div>
  </div>
  <ng-container *ngIf="project != null">
    <div class="row">
      <mat-form-field class="example-full-width">
        <input mat-input placeholder="Project name"  [(ngModel)]="projectInfo.title" name="title">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <input mat-input placeholder="Group"  [(ngModel)]="projectInfo.group" name="group">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <input mat-input placeholder="Version"  [(ngModel)]="projectInfo.version" name="version">
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button (click)="onSubmit()">Add Project</button>
      <span class="text-danger">{{generalError}}</span>
    </div>
    <div class="row">
      <ul>
        <li class="text-danger" *ngFor="let error of problemsErrors">{{error}}</li>
      </ul>
    </div>
  </ng-container>
</div>
