
@import '~@angular/material/core/theming/all-theme';
@include md-core();

$candy-app-primary: md-palette($md-blue);
$candy-app-accent:  md-palette($md-orange, A700);
$candy-app-error:    md-palette($md-red);
$candy-app-warn:    md-palette($md-deep-orange);
$candy-app-theme: md-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

$primary: md-color($candy-app-primary);
$accent: md-color($candy-app-accent);
$error:    md-color($candy-app-error);
$warn:    md-color($candy-app-warn);
$primary-opacity: rgba(33, 150, 243, 0.5);

$colors: (
  white: white,
  black: black,
  red: map-get($md-red, 500),
  pink: map-get($md-pink, 500),
  purple: map-get($md-purple, 500),
  deep-purple: map-get($md-deep-purple, 500),
  indigo: map-get($md-indigo, 500),
  blue: map-get($md-blue, 500),
  light-blue: map-get($md-light-blue, 500),
  cyan: map-get($md-cyan, 500),
  teal: map-get($md-teal, 500),
  green: map-get($md-green, 500),
  light-green: map-get($md-light-green, 500),
  lime: map-get($md-lime, 500),
  yellow: map-get($md-yellow, 500),
  amber: map-get($md-amber, 500),
  orange: map-get($md-orange, 500),
  deep-orange: map-get($md-deep-orange, 500),
  brown: map-get($md-brown, 500),
  grey: map-get($md-grey, 500),
  blue-grey: map-get($md-blue-grey, 500),

);
