
@import "~@angular/material/theming";

@include mat-core();

$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-orange, A700);
$candy-app-error:    mat-palette($mat-red);
$candy-app-warn:    mat-palette($mat-deep-orange);
$candy-app-info: mat-palette($mat-blue);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

$primary: mat-color($candy-app-primary);
$accent: mat-color($candy-app-accent);
$error:    mat-color($candy-app-error);
$warning:    mat-color($candy-app-warn);
$info:    mat-color($candy-app-info);
$primary-opacity: rgba(33, 150, 243, 0.5);

$colors: (
  red: $mat-red,
  pink: $mat-pink,
  purple: $mat-purple,
  deep-purple: $mat-deep-purple,
  indigo: $mat-indigo,
  blue: $mat-blue,
  light-blue: $mat-light-blue,
  cyan: $mat-cyan,
  teal: $mat-teal,
  green: $mat-green,
  light-green: $mat-light-green,
  lime: $mat-lime,
  yellow: $mat-yellow,
  amber: $mat-amber,
  orange: $mat-orange,
  deep-orange: $mat-deep-orange,
  brown: $mat-brown,
  grey: $mat-grey,
  blue-grey: $mat-blue-grey,

);
