/* local settings and functions */
@import "settings";
@import "partials/json-view";
@import "../../../node_modules/@maxxton/components/assets/scss/mxt-components";
@import "../../panels/sidebar-panel/_sidebar.panel";
@import "../../routes/project/project.route";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
//
//body{
//  font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
//}

.content{
  width: 100%;
  position: relative;
}

.page-content.grid-container {
  width: 70%;
  max-width: 70%;
  padding: 2rem 0;
  overflow: visible;
  @include breakpoint(large) {
    margin: 2rem auto 0 8rem;
  }
  > * {
    display: block;
    width: 100%;
  }

  router-outlet {
    display: none;
  }
}

.no-margin {
  margin: 0 !important;
}

.divider-right {
  border-right: .125rem solid $dividers-color;
}

.divider-left {
  border-left: .125rem solid $dividers-color;
}

a {
  &.primary {
    color: $accent-color-primary;
  }
  &.secondary {
    color: $accent-color-secondary;
  }
}

.label.padding {
  padding: .8rem;
}

table {
  table-layout: fixed;
  th {
    line-height: 1.6;
    text-align: center;
    border: .125rem solid $dividers-color;
  }

  td:nth-child(odd) {
    background-color: $table-striped-background;
  }
}

.placeholder.bottom {
  height: 150px;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px !important;
  border-radius: 2px;
}

.card .card{
  box-shadow: none !important;
}

.full-width {
  width: 100%;
}

.fixed {
  position: fixed;
  z-index: 100;
  &.bottom {
    bottom: 0;
  }
  &.top {
    top: 0;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0
  }
}

.fixed {
  card > div.card {
    margin-bottom: 0;
    @include elevation(6);
    border-top: .25rem solid $accent-color-secondary;
    .header {
      display: none;
    }
  }

  .grid-container {
    padding: 0;
  }
}

.disabled {
  pointer-events: none;
}

.relative {
  position: relative;
}

.label.full-size {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  @include elevation(6);
}

.logo{
  padding: 15px 60px;
  font-weight: bold;
  font-size: 23px;
}

.logo-image{
  background-image: url("../images/microdocs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.blue{
  color: #2196F3;
}

.orange{
  color: #FF9800;
}

ul{
  list-style: none;
}

.block-list li ul {
  display: block;
}

.link{
  color: $primary-color;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}

.link .icon{
  position: relative;
  top: 6px;
}

.problem-box{
  margin-bottom: 10px;
  color: #F44336;
}

.problem-box.warning{
  color: #FF9800;
}

.problem-box.notice{
  color: #2196F3;
}

.problem-box .problem{
  font-weight: bold;
  position: relative;
  top: -5px;
}

.child-card .card{
  margin-bottom: 10px;
}

.child-card .card .header {
  padding: 10px 20px;
}

.child-card .card .header .title{
  font-size: 1.2rem;
}

.http-method .header .title, .http-method .header .subtitle{
  color: white;
}

.http-method .title{
  display: inline-block;
  min-width: 60px;
}

.child-card .action::before{
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.http-method.get .card > .header{
  background-color: #4CAF50;
}

.http-method.post .card > .header{
  background-color: #2196F3;
}

.http-method.put .card > .header{
  background-color: #FB8C00;
}

.http-method.delete .card > .header{
  background-color: #F44336;
}

.http-method.patch .card > .header{
  background-color: #616161;
}

endpoint .description{
  font-size: 14px;
  color: #4d4d4d;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h4{
  font-weight: bold;
  margin-top: 0.8em;
}

h5{
  font-size: 1.5em;
  font-weight: normal;
  font-family: inherit;
  margin-top: 10px;
}

endpoint .request, endpoint .response{
  font-family: monospace;
}

endpoint tr, endpoint th, endpoint td {
  border: none !important;
  background: none !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

endpoint tr > *:first-child {
  color: #2196F3;
  text-align: left;
}

endpoint tr > *:nth-child(2)::before {
  content: ": ";
}

endpoint tr > *:nth-child(2) {
  color: #4CAF50;
}

endpoint tr > *:nth-child(3) span::before {
  content: " = ";
}

endpoint tr > *:nth-child(4) {
  color: #AFAFAF;
}

endpoint tr > *:nth-child(5)::before {
  content: "- ";
}

endpoint .mime{
  color: #2196F3;
}

.json-preview{
  height: 200px;
  resize: none;
  cursor: text !important;
  font-family: monospace;
}

.client-header{
  font-size: 14px;
  margin-bottom: 15px;
}

.response-description{
  padding-top: 5px;
  padding-bottom: 5px;
}

.response-status{
  color: #2196F3;
}

dependency-graph svg{
  width: 100%;
  height: 75vh;
}

dependency-graph.small svg{
  width: 100%;
  height: 200px;
}

dependency-graph path {
  fill: none;
  stroke: #2A9AF3;
  stroke-width: 1.5px;
}

dependency-graph circle {
  fill: #FF9800;
  stroke: #333;
  stroke-width: 1px;
}

dependency-graph text {
  font-size: 10px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: pointer;
}

.version-box select{
  display: inline-block;
  width: auto;
  margin-left: 10px;
}