/* local settings and functions */
@import "settings";
@import "partials/json-view";
@import "../../../node_modules/@maxxton/components/assets/scss/mxt-components";
@import "../../panels/sidebar-panel/_sidebar.panel";

//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}
//
//body{
//  font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
//}

.page-content.grid-container {
  width: 70%;
  max-width: 70%;
  padding: 2rem 0;
  overflow: visible;
  @include breakpoint(large) {
    margin: 2rem auto 0 8rem;
  }
  > * {
    display: block;
    width: 100%;
  }

  router-outlet {
    display: none;
  }
}

.no-margin {
  margin: 0 !important;
}

.divider-right {
  border-right: .125rem solid $dividers-color;
}

.divider-left {
  border-left: .125rem solid $dividers-color;
}

a {
  &.primary {
    color: $accent-color-primary;
  }
  &.secondary {
    color: $accent-color-secondary;
  }
}

.label.padding {
  padding: .8rem;
}

table {
  table-layout: fixed;
  th {
    line-height: 1.6;
    text-align: center;
    border: .125rem solid $dividers-color;
  }

  td:nth-child(odd) {
    background-color: $table-striped-background;
  }
}

.placeholder.bottom {
  height: 150px;
}

accommodation-price-table {

  .button-container {
    margin: 1rem 0 0 0;
  }

  data-table {
    tr td:nth-of-type(1) {
      span {
        max-height: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
      }
      input {
        height: 2.05rem;
      }
      > * {
        background-color: inherit;
      }
    }

    tr td.editable-column:not(.pristine) {
      background-color: $info-color !important;
      font-weight: bold;
      color: $white !important;
      a,
      input {
        color: $white;
      }
    }

    a.primary {
      background-color: inherit;
    }
  }

  card {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
  }

  display: block;
  .stay {
    margin-top: 1.5rem;

    .rate .small-2 {
      padding: 0 .5rem;
      border-bottom: 1px solid $dividers-color;
      align-self: flex-end;

      h6 {
        //margin-bottom: 0.3rem;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
  table td {
    border: .125rem solid $dividers-color;
    span.placeholder {
      height: 2rem;
      padding: .7rem .25rem;
      display: block;
    }
    input[type="text"] {
      height: 2rem;
      font-size: 0.8rem;
      margin-bottom: 0;
      border: 0;

      &:focus,
      &:active {
        background-color: $table-row-stripe-hover;
      }
    }
    //changed input

    a {
      width: 100%;
      display: block;
      padding: .25rem 0;
    }
  }

  table tr td:nth-child(odd) input {
    background-color: $table-striped-background;
  }

  .button-container h6 {
    padding: 0.25rem 0.5rem;
  }

  .rentability {
    .availability {
      &.high {
        background-color: $meter-fill-high;
      }
      &.medium {
        background-color: $meter-fill-medium;
      }
      &.low {
        background-color: $meter-fill-low;
      }
      color: $white;
      text-align: center;
      padding: 0.6rem 0;
    }
  }
  .resellers {
    td {
      > span,
      > a > span {
        text-align: center;
        display: block;
        padding: 0 .2rem;
      }

      input {
        margin-bottom: 0;
        text-align: center;
      }
      .button-group {
        z-index: 100;
        margin: 0.2rem 0 0 -4.2rem;
        li {
          .icon {
            font-size: 1.3rem;
            padding: .5rem;
          }

          span {
            line-height: 1.5;
          }
        }
      }
      &:last-of-type {
        .options {
          margin-left: -6.5rem;
        }
      }
    }

  }

}

.full-width {
  width: 100%;
}

.fixed {
  position: fixed;
  z-index: 100;
  &.bottom {
    bottom: 0;
  }
  &.top {
    top: 0;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0
  }
}

.fixed {
  card > div.card {
    margin-bottom: 0;
    @include elevation(6);
    border-top: .25rem solid $accent-color-secondary;
    .header {
      display: none;
    }
  }

  .grid-container {
    padding: 0;
  }
}

.disabled {
  pointer-events: none;
}

.relative {
  position: relative;
}

.label.full-size {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  @include elevation(6);
}

prices {
  .change-period {
    padding: 1.56rem .5rem;
  }

  .start-date {
    input {
      padding: 1.47rem 1rem;
    }
  }

  .search-options {
    display: block;
    margin: -1.9rem -8.5% 0;
    width: auto;

    .card {
      box-shadow: none;
    }

    .header {
      padding: 1rem 5rem;
      .actions {
        display: none;
      }
    }

    .card-section.content {
      max-width: 85%;
      margin: 0 auto;
    }
  }

  .rentability {
    border-top: 0.125rem solid $dividers-color;
    background-color: #fcfcfc;
    padding: 1.5rem;
    margin: 1rem -1.5rem;

    input {
      text-align: center;
    }

    td a.icon {
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
      height: 2.4rem;
      line-height: 1.6;
    }

    td.editable-column {
      > input:not(.pristine),
      > a.icon:not(.pristine),
      > span:not(.pristine) {
        background-color: $info-color !important;
        font-weight: bold;
        color: $white !important;
      }
    }

  }

  //show actions in left menu
  .small-2 {
    span {
      line-height: 2;
    }
    a {
      color: $accent-color-primary;

      &.disabled {
        color: $disabled-color;
      }
    }
  }

  @include breakpoint(large) {
    .search-options {
      margin: -3.9rem -9.4% 0;
    }
  }

  .container.paging {
    background-color: white;
    @include elevation(4);
  }
}

.logo{
  padding: 15px 60px;
  font-weight: bold;
  font-size: 23px;
}

.logo-image{
  background-image: url("../images/microdocs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.blue{
  color: #2196F3;
}

.orange{
  color: #FF9800;
}

ul{
  list-style: none;
}

.block-list li ul {
  display: block;
}

.link{
  color: $primary-color;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}

.link .icon{
  position: relative;
  top: 6px;
}

.problem-box{
  margin-bottom: 10px;
  color: #F44336;
}

.problem-box.warning{
  color: #FF9800;
}

.problem-box.notice{
  color: #2196F3;
}

.problem-box .problem{
  font-weight: bold;
  position: relative;
  top: -5px;
}

.child-card .card{
  margin-bottom: 10px;
}

.child-card .card .header {
  padding: 10px 20px;
}

.child-card .card .header .title{
  font-size: 1.2rem;
}

.http-method .header .title, .http-method .header .subtitle{
  color: white;
}

.http-method .title{
  display: inline-block;
  min-width: 60px;
}

.child-card .action::before{
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.http-method.get .card > .header{
  background-color: #4CAF50;
}

.http-method.post .card > .header{
  background-color: #2196F3;
}

.http-method.put .card > .header{
  background-color: #FB8C00;
}

.http-method.delete .card > .header{
  background-color: #F44336;
}

.http-method.patch .card > .header{
  background-color: #616161;
}

endpoint .description{
  font-size: 12px;
  font-weight: bold;
  color: #4d4d4d;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h4{
  font-weight: bold;
  margin-top: 0.8em;
}

h5{
  font-size: 1.5em;
  font-weight: normal;
  font-family: inherit;
  margin-top: 10px;
}

endpoint .request, endpoint .response{
  font-family: monospace;
}

endpoint tr, endpoint th, endpoint td {
  border: none !important;
  background: none !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

endpoint tr > *:first-child {
  color: #2196F3;
  text-align: left;
}

endpoint tr > *:nth-child(2)::before {
  content: ": ";
}

endpoint tr > *:nth-child(2) {
  color: #4CAF50;
}

endpoint tr > *:nth-child(3) span::before {
  content: " = ";
}

endpoint tr > *:nth-child(4) {
  color: #AFAFAF;
}

endpoint tr > *:nth-child(5)::before {
  content: "- ";
}

endpoint .mime{
  color: #2196F3;
}

.json-preview{
  height: 200px;
  resize: none;
  cursor: text !important;
  font-family: monospace;
}

.client-header{
  font-size: 14px;
  margin-bottom: 15px;
}

.response-description{
  padding-top: 5px;
  padding-bottom: 5px;
}

.response-status{
  color: #2196F3;
}

dependency-graph svg{
  width: 100%;
  height: 75vh;
}

dependency-graph.small svg{
  width: 100%;
  height: 200px;
}

dependency-graph path {
  fill: none;
  stroke: #2A9AF3;
  stroke-width: 1.5px;
}

dependency-graph circle {
  fill: #FF9800;
  stroke: #333;
  stroke-width: 1px;
}

dependency-graph text {
  font-size: 10px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: pointer;
}

.version-box select{
  display: inline-block;
  width: auto;
  margin-left: 10px;
}