.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E3F2FD;
}

.welcome {
  padding: 20px;
  text-align: center;
  h1 {
    color: #424242;
    margin-top: 10vh;
    font-size: 40px;
  }
  h4 {
    font-weight: normal;
    font-size: 27px;
  }
}
