body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header{
  padding: 5px 20px;
  background-color: #2196F3;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
}

header h1 {
  font-weight: normal;
}

article{
  padding: 20px;
}

footer{
  padding: 20px;
  color: gray;
}

footer a{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover{
  text-decoration: underline;
}
