dependency-graph {

  .graph {
    position: relative;

    .option-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      background-color: white;

      .dropdown {
        position: absolute;
        left: 0;
        height: 100%;
        width: 200px;

        .dropdown-header {
          position: absolute;
          z-index: 1;
          display: inline-block;
          padding: 14px 10px;
          font-size: 1.5em;
          cursor: pointer;

          .icon {
            position: relative;
            top: 5px;
            transition: 0.2s ease transform;
          }
        }

        .overlay-wrapper {
          display: block;
          position: absolute;
          bottom: 0;
          padding-bottom: 50px;
          width: 200px;
          box-shadow: none;
          background-color: white;
          transition: 0.2s ease box-shadow;

          .overlay {
            overflow: hidden;
            height: auto;
            max-height: 0px;
            transition: 0s ease max-height;

            .overlay-item {
              padding: 5px 10px;
              cursor: pointer;
              position: relative;
              color: $blue;

              .icon {
                position: relative;
                top: 4px;
              }
              .title {
                font-size: 1.3em;
                position: absolute;
                top: 13px;
                left: 35px;
                right: 10px;
              }
            }
          }
        }
      }
      .dropdown.expanded {
        .dropdown-header .icon {
          transform: rotate(180deg);
        }
        .overlay-wrapper {
          box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px !important;

          .overlay {
            max-height: 500px;
            transition: 0.5s ease max-height;
          }
        }
      }

      .option-button {
        position: absolute;
        right: 0;
        height: 50px;
        width: 50px;
        padding: 10px;
        border-radius: 100%;
        cursor: pointer;

        .icon {
          font-size: 30px;
          height: 30px;
          width: 30px;
        }

        span {
          display: none;
        }
      }
      .option-button:hover {
        background-color: rgba(0, 0, 0, 0.1);

        span {
          display: inline-block;
          width: 100px;
          text-align: center;
          position: relative;
          left: -40px;
          top: 15px;
          background-color: black;
          color: white;
          border-radius: 5px;
          padding: 5px;
        }
        span:before {
          content: ' ';
          position: absolute;
          bottom: 90%;
          left: 50%;
          width: 10px;
          height: 10px;
          background-color: black;
          transform: rotate(45deg);
        }
      }
      .option-button.selected {
        background-color: rgba(0, 0, 0, 0.1);
        color: $blue;
      }

      .show-versions-button {
        right: 0;
      }

      .show-inherit-button {
        right: 60px;
      }
    }

    .container {

      svg {
        width: 100%;
        height: 75vh;

        path {
          fill: none;
          stroke: $blue;
          stroke-width: 1.5px;
        }

        path.problems {
          stroke: $red;
        }

        path.includes {
          stroke-dasharray: 4, 3;
        }

        circle {
          fill: #FF9800;
          stroke: #333;
          stroke-width: 0px;
        }

        circle.pink {
          fill: $pink;
        }

        circle.red {
          fill: $red;
        }

        circle.orange {
          fill: $orange;
        }

        circle.amber {
          fill: $amber;
          stroke-width: 0.5px;
        }

        circle.yellow {
          stroke-width: 0.5px;
          fill: $yellow;
        }

        circle.lime {
          stroke-width: 0.5px;
          fill: $lime;
        }

        circle.green {
          fill: $green;
        }

        circle.teal {
          fill: $teal;
        }

        circle.cyan {
          fill: $cyan;
        }

        circle.light-blue {
          fill: $light-blue;
        }

        circle.blue {
          fill: $blue;
        }

        circle.indigo {
          fill: $indigo;
        }

        circle.purple {
          fill: $purple;
        }

        circle.blue-gray {
          fill: $blue-gray;
        }

        text {
          font-size: 10px;
          text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
          cursor: pointer;
        }
      }
    }
  }
}

dependency-graph.small{
  .container svg {
    width: 100%;
    height: 200px;
  }
}