@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  font-family: "Open sans", helvetica, arial;

  transition: 0.1s ease background-color;
  background-color: #ececec;
  padding: 0;
  margin: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/** Headings */
h1 {
  font-weight: normal;
  color: #ff9800;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-size: 1.5em;
}

/** Header **/

header {
  transition: 0.2s ease opacity;
  opacity: 1 !important;
  background-color: white;
  width: 100%;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
}

header .logo {
  font-size: 24px;
  text-decoration: none;
  margin-top: 17px;
  display: inline-block;
  margin-left: 30px;
}

header .logo .logo-img {
  height: 45px;
}

header .logo .blue {
  color: #2196F3;
}

header .logo .orange {
  color: #FF9800;
}

.btn {
  cursor: pointer;
}

a, .btn-link, a:hover, .btn-link:hover {
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;
}

a:hover:not(.no-line), .btn-link:hover:not(.no-line) {
  text-decoration: underline;
}

.paper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px;
}
